* {
    font-family: Helvetica;
    text-align: center;
}
h1 {
    font-size: 70px;
    font-weight: bold;
    color: white;
}
h2 {
    font-size: 32px;
    font-weight: bold;
}
h3 {
    font-size: 23px;
    font-weight: bold;
}
a.link {
    color: white;
    font-size: 18px;
}
.header {
    background-image: url(the-flatiron-building.png);
    background-size: cover;
}
h3.white {
    background-image: url(the-flatiron-building.png);
    font-size: 23px;
    font-weight: bold;
    color: white;
} 
.footer p {
    text-align: left;
    background-color: dimgray;
    color: white;
}